.instructions {
  padding: 30px 0;

  &__items {
    @include inline;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    width: 33.333%;
    @include notinline;
    height: 40px;
    text-align: center;
    vertical-align: top;

    @media screen and (max-width: $tablet){
      width: 100%;
      display: table;
    }

    &-title {
      font-size: 18px;
      color:  #1e2935;
      width: 240px;
      padding-top: 10px;
      min-height: 60px;
      margin: 0 auto;

      span {
        font-weight: 900;
      }
    }

    &-img {
      position: relative;
      display: inline-block;
      width: 135px;
      height: 135px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      &:before {
        @include font-roboto('Bold');
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ff8106;
        position: absolute;
        top: 5px;
        left: -10px;
        text-align: center;
        color: white;
        font-size: 26px;
        line-height: 40px;
      }
    }
    &:nth-child(1) &-img:before { content: '1'; }
    &:nth-child(2) &-img:before { content: '2'; }
    &:nth-child(3) &-img:before { content: '3'; }
  }
  &__info {
    padding-top: 200px;
    font-size: 18px;
    text-align: center;
    color:  #1e2935;

    @media screen and (max-width: $tablet){
      padding-top: 30px;
    }

    span {
      font-weight: 900;
    }
  }
}
